.largura{
  width: 700px;
  maargin: auto;
}
.menu{
  font-family: 'Rubik' , sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu > a {
  text-decoration: none;
  color: black;
  margin-rigth: 20px;
}

.menu > a:visited{
  color: black;
}

.menu > a:hover{
  color: aqua;
}

h1{
  font-family: 'Merriweather' , serif;
  padding-bottom: 5px;
  border-bottom: 2px dotted black;
}

.conteudo{
  font-family: 'Merriweather' , serif;
  line-heigth: 32px;
}

.img-principal{
  float: left;
  margin-bottom: 20px;
  margin-rigth: 20px;
}

selecionado{
  border-bottom: 2px dotted black;
}
